{% extends 'base.html' %}

{% block head %}
<center><h1>Choose options</h1></center>
{% endblock %}


{% block body %}
<br>
<center>
    <form action="/drugs/viewAllDrugs" method="get">
        <button>View all information of all drugs</button>
    </form>
    <br>
    <form action="/drugs/searchKeywordInDescription" method="get">
        <button>Search a keyword in drug descriptions</button>
    </form>
    <br>
    <form action="/drugs/filterTargets" method="get">
        <button>Filter targets of a drug</button>
    </form>
    <br>
    <form action="/drugs/otherOptions" method="get">
        <button>View detailed information of a drug</button>
    </form>
</center>
{% endblock %}
