{% extends 'base.html' %}

{% block head %}
<center><h1>Choose options</h1></center>
{% endblock %}


{% block body %}
<br>
<center>
    <form action="/proteins/drugsForSameProtein" method="get">
        <button>View drugs that affect the same protein</button>
    </form>
    <br>
    <form action="/proteins/proteinsForSameDrug" method="get">
        <button>View proteins that bind the same drug</button>
    </form>
    <br>
    <form action="/proteins/searchProtein" method="get">
        <button>View interacting drugs of a specific protein</button>
    </form>
</center>
{% endblock %}