{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block body %}

<center>
    <h1>Update Contributor</h1>
    {% if success is defined and success == True %} <h3 style="color: green">Reaction Updated Successfully!</h3> 
    {% elif success is defined and success == False %} <h3 style="color: red">Error, the given contributor is not a user or no such contributor exists for the given reaction!</h3> 
    {% endif %}
    <form id='login-form' action="" method='post'>
    <input type="text" placeholder="Reaction ID to update" name="reactionid" required>
    <input type="text" placeholder="Username of the contributor to add/delete" name="contrib" required>
    <input type="text" placeholder="Name of the contributor to add/delete" name="name" required>
    <input type="text" placeholder="Password of the contributor" name="password" required>
    <input type="text" placeholder="Institute of the contributor to add/delete" name="institute" required>
    <button type='submit' name="delete">Delete Contributor</button>
    <button type='submit' name="add">Add Contributor</button>
    </form>
</center>

{% endblock %}