{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block body %}
<center>
    <h3>Welcome, {{ username }}!</h3>
        <div class="btn-group">
            <form action="/drugs" method="get">
                <button>Drugs</button>
            </form>
            <form action="/proteins" method="get">
                <button>Proteins</button>
            </form>
            <form action="/sider" method="get">
                <button>Side Effects</button>
            </form>
        </div>  
</center>


{% endblock %}