{% extends 'base.html' %}

{% block head %}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    
    td {
        text-align: center; 
        vertical-align: middle;
    }
</style>

{% if table[0]=='viewAllDrugs' %} 
<center><h1>View All Drugs</h1></center>
{% endif %}

{% if table[0]=='proteinsForSameDrug' %} 
<center><h1>View Proteins that Bind the Same Drug</h1></center>
{% endif %} 

{% if table[0]=='drugsForSameProtein' %} 
<center><h1>View Drugs that Affect the Same Protein</h1></center>
{% endif %} 

{% if table[0]=='doi' %} 
<center><h1>View the DOI of Papers and Contributors of the Corresponding Paper</h1></center>
{% endif %} 

{% if table[0]=='institutes' %} 
<center><h1>View Institutes According to Their Total Scores in Decreasing Order</h1></center>
{% endif %} 

{% endblock %}


{% block body %}
<center>
<table>

  {% if table[0]=='viewAllDrugs' %} 
    <tr>
      <th>Drugbank ID</th>
      <th>Drug name</th> 
      <th>Smiles</th>
      <th>Description</th>
      <th>Target name</th>
      <th>Side effect name</th>
    </tr>
    {% endif %} 

    {% if table[0]=='drugsForSameProtein' %} 
    <tr>
        <th>UniProt ID</th>
        <th>Drugbank IDs</th> 
    </tr>  
    {% endif %} 

    {% if table[0]=='proteinsForSameDrug' %} 
    <tr>
        <th>Drugbank ID</th> 
        <th>UniProt IDs</th>
    </tr>  
    {% endif %}

    {% if table[0]=='doi' %} 
    <tr>
        <th>Doi</th> 
        <th>Authors</th>
    </tr>  
    {% endif %}

    {% if table[0]=='institutes' %} 
    <tr>
        <th>Institute</th> 
        <th>Score</th>
    </tr>  
    {% endif %}

    {% for row in table[1] %}
          <tr>
            {% for i in row %}
            <td>{{i}}</td>
            {% endfor %}
          </tr>
    {% endfor %}
</table>
</center>
{% endblock %}